.container {
  display: flex;
  justify-content: center;
}

.img_block img {
  width: 500px;
  height: 300px;
}

.lambda_formula img {
  width: 515px;
    height: 170px;
}

.psiAngle_formula img {
  width: 350px;
    height: 170px;
}

.dX_explanation  img{
  width: auto;
}

.theta img {
width: 100px;
height: 80px;
}

.SDIntersection img {
  height: auto;
}