* {
  font-size: large;
}

.App {
  text-align: center;
  padding: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divider {
  padding-top: 1vh;
  padding-bottom: 1vh;

  width: 100%;
  height: 2vh;
  background-color: #282c34;

}
h5, h6 {
  padding-left: 30px;
  text-align: left;
}

.finalFirstIterationValues {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

sub {
  font-size: smaller; 
}
ol {
  text-align: left;
}
.overXSign {
  border-top: 3px solid Black;
}