.value {
  margin: 20px 0;
  padding: 20px 10px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 20px;
}
.value td {
  padding-bottom: 30px;
  padding-right: 30px;
}

.value tr:last-child td {
  padding-bottom: 0px;
}
.value tr td:last-child {
  padding-right: 0px;
}

.withoutMatrixBorder {
border: 0;
}

.startSign, .endSign {
  padding: 10px;
  display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.emphasizeN1Matrix > tbody > tr:nth-child(1) > td:nth-child(-n+2),
.emphasizeN1Matrix > tbody > tr:nth-child(2) > td:nth-child(-n+2) {
  border: 4px solid rgb(191, 12, 207);
}

